page-welcome {
  text-align:center;
}

#testbutton{
  width:50%;
 left:0px;
 height: 30px;
}

ion-list {
  width: 100%;
 
}
#listdiv {
  display:block;


}

#noposting{
  font-size:10px;
  margin:0;
  padding:0;
}

